<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
<title>Gestion de notes</title>
<link rel="shortcut icon" href="../static/images/logotest11.png" th:href="@{/images/logotest11.png}">
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css"  href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"  href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css"  href="../static/css/main.css" th:href="@{/css/main.css}" />

<script type="text/javascript" th:src="@{/js/jquery-2.2.4.min.js}" src="../static/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
<script type="text/javascript" th:src="@{/js/superfish.min.js}" src="../static/js/superfish.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.ajaxchimp.min.js}" src="../static/js/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}" src="../static/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.tabs.min.js}" src="../static/js/jquery.tabs.min.js"></script>
<script type="text/javascript" th:src="@{/js/owl.carousel.min.js}" src="../static/js/owl.carousel.min.js"></script>

<script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
<script type="text/javascript" th:src="@{/js/js/epreuve.js}" src="../static/js/js/epreuve.js"></script>

</head>

<body>
</body>

</html>