<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<meta charset="utf-8" />
<title>Layout</title>

</head>

<body>


	<div layout:fragment="content">

		<div class="container" style="margin-left: 110px;">

			<h3 th:text="${cl.lib+' '+ant.lib+' '+an.lib+' '+exa.lib}"></h3>
			<div class="col-md-8" style="padding-left: 30px;">

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
							
							<div class="card-block">
								<table class="table table-hover">
									<thead>
										<tr>
											
											<th>Matricule</th>
											<th>Nom</th>
											<th>Prénom</th>
											<th>Date de Naissance</th>
											<th>Etat</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="c:${listeEtudiants}">
											<td th:text="${c.etudiant.matricule}"></td>
											<td th:text="${c.etudiant.nom}"></td>
											<td th:text="${c.etudiant.prenom}"></td>
											<td th:text="${#dates.format(c.etudiant.datenaiss, 'dd/MM/yyyy')}"></td>
											
											<span th:switch="${c.conduite}">
											     <td th:case="'bonne'" style="background-color: green;" th:text="${c.conduite}"></td>
                                                 <td th:case="*" style="background-color: red;">Indiscipline</td>
              
											</span>
											<td><a href="#" th:href="@{/conduite/change/(idinsc=${c.id},idcl=${c.classe.id},idexa=${exa.id})}"
												class="btn btn-primary" role="button">Conduite</a></td>
											
										</tr>
										
									</tbody>
								</table>
								<hr />

							</div>
						
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
</html>